@import 'styles/breakpoints.scss';

.homePage {
  min-height: 100vh;
  display: grid;
  grid-column: 1fr;
  grid-template-rows: 60px 1fr 80px;
  main {
    display: grid;
    grid-template-columns: minmax(300px, 350px) 1fr;
    @media (max-width: $sm) {
      grid-template-columns: 1fr;
    }
  }
}
