@import 'styles/colors.scss';
@import 'styles/breakpoints.scss';

.newsViewTiles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1rem;
  @media (max-width: $sm) {
    grid-template-columns: 1fr;
  }
}

.newsViewList {
  max-width: 900px;
  margin: 0 auto;
  & > * {
    margin-bottom: 1rem;
    padding-bottom: 2rem;
  }
}
